.header-container {
  display: flex;
  justify-content: center;
  gap: 100px;
}

.header {
  font-family: "Raleway";
  font-weight: 400;
  font-style: normal;
  font-size: 4vh;
  color: #7d7d7d;
}

.header:hover {
  cursor: pointer;
  color: #03a9f4;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin-top: 90px;
  gap: 65px;
}

.column {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 130px;
}

.item {
  width: 420px;
}

.item-title {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 40px;
  color: #626262;
  margin-top: 32px;
}
.item-subtitle {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: #b4ad9e;
  margin-top: 62px;
}

.item-text {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #626262;
}
